<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.callingwebservice" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="26" />
	<application android:label="CallingWebService.Android" android:theme="@style/MainTheme">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyANea1CUhNmq_k03EQpXdhSO-xxa-uUI9M" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
  </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<queries>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="http" />
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="https" />
		</intent>
	</queries>
</manifest>